

  <% include partes/__superior %>
  <% include partes/__navegacion %>
    <section class="content container-fluid">
      <div class="col-lg-10" style="position:fixed; margin-left:15%;">

        
    </div>
    </section>
 <% include partes/__inferior %>
