

  <% include partes/__superior %>
  <% include partes/__navegacion %>


          <div id="blog" class="content-block content-block-gray">
              <div class="container">
                  <header class="block-heading cleafix text-center">
                      <h1>QUE ES MOVILIDAD</h1>
                  </header>
                  <section class="block-body">
                      <div class="row">
                          <div class="col-sm-8 col-sm-push-2 blog-post">
                            <iframe class="center-block" width="100%" height="500px" src="https://www.powtoon.com/embed/deecNsryzoz/" frameborder="0"></iframe>
                            <!--  <a href="#"><h2>Winter Is Comming</h2></a>-->
                              <div class="date">28 Junio, 2018</div>
                          </div>
                      </div>
                  </section>
              </div>
          </div>

 <% include partes/__inferior %>
