

  <% include partes/__superior %>
  <% include partes/__navegacion %>


  <div id="blog" class="content-block content-block-gray">
      <div class="container">
          <header class="block-heading cleafix text-center">
              <h1>Universidades de <%=data[0].nombrePais%> Con Convenio con la UFPS</h1>
          </header>
          <section class="block-body">
              <div class="row">
                    <%for(var i=0;i<data.length;i++){%>
                      <div class="col-sm-3 blog-post">
                          <img src="<%=data[i].imagen_universidad%>" width="100%" height="250vh" alt="no se encontro la imagen">
                          <a href="/convenios?id=<%=data[i].id_universidad%>"><h2 style="font-size:1.5em!important; color:black;"><%=data[i].nombre%></h2></a>
                      </div>
                    <%}%>
              </div>
          </section>
      </div>
  </div>
    <script src="/js/usuario_universidad.js"></script>
 <% include partes/__inferior %>
