<div id="projects" class="recent-projects" style="margin-top:-100px;">
    <div class="recent-projects-title">
        <img src="img/8.png" width="20%" alt="no se encontro la imagen" class="img-rounded">
  Movility UFPS
    <img src="img/7.png" width="20%" alt="no se encontro la imagen" class="img-rounded">
    </div>

    <div class="recent-projects-content content-block-gray" >
        <div id="owl-example" class="owl-carousel" style="font-size: 2em;">
            <!--<div>
                <img src="img/11.jpg" alt="">
                <a href="#">Inicio</a>
            </div>-->
            <div>
                <img src="img/3.jpg" alt="">
                <a href="/informacion">Que es</a>
            </div>
            <div>
                <img src="img/6.jpg" alt="">
                <a href="/paises">Convenio</a>
            </div>
            <div>
                <img src="img/5.jpg" alt="">
                <a href="/experiencias">Experiencias</a>
            </div>

            <div>
                <img src="img/10.jpg" alt="">
                <a href="/contacto">Contacto</a>
            </div>
            <div>
                <img src="img/12.png" alt="">
                <a href="/admin">Admin</a>
            </div>
        </div>
    </div>
</div>
