<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Movility UFPS</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link href="/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/owl.carousel.css">

  <link href="/css/main2.css" rel="stylesheet">
  <!-- Default Theme -->
  <link rel="stylesheet" href="/css/owl.theme.css">
  <link href="https://fonts.googleapis.com/css?family=Paytone+One" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">

  <script src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/ionicons.min.css">
  <link rel="stylesheet" href="/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/css/skins/skin-red.css">
  <link rel="stylesheet" href="/css/skins/_all-skins.min.css">
  <link rel="stylesheet" href="/css/all.css">
  <link rel="stylesheet" href="/css/select2.min.css">
  <link href="/css/red.css" rel="stylesheet">
  <link href="/css/navegacion.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/jquery-jvectormap-2.0.3.css" type="text/css" media="screen">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  <link rel="stylesheet" href="/css/bootstrap-datepicker.min.css">
</head>
<body>
