 <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      Movility UFPS
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2018 <a href="#">UFPS</a>.</strong> All rights reserved.
  </footer>
<% include __inferior %>