 <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

    
<!--
      <div class="user-panel">
        <div class="pull-left image">
          <img src="/img/admin.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Administrador Movility</p>
        </div>
      </div>
-->
      <!-- search form (Optional) -->
      <!--
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
            </span>
        </div>
      </form>
      -->
      <!-- /.search form -->

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">Menu Navegación</li>
        <!-- Optionally, you can add icons to the links -->
        <!--<li class="active"><a href="#"><i class="fa fa-link"></i> <span>Experiencias</span></a></li>-->
        <!--<li><a href="#"><i class="fa fa-link"></i> <span>Visas</span></a></li>-->
        <li class="active">
          <a href="/docente/listarEstudiante"><i  class="fa fa-graduation-cap"></i> <span>Estudiante</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
        </li>
        <li class="">
          <a href="/docente/listarPrueba"><i  class="fa fa-file-text-o"></i> <span>Test</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
        </li>
        
      </ul>
    </section>
  </aside>