<% include partes/__cabecera %>
  <% include partes/__navegacion %>
  <div class="content-wrapper">
    <section class="content container-fluid">
       <div class="row">
        <div class="col-xs-12">
          <div class="box box-danger">
            <div class="box-header">
              <h3 class="box-title">Añadir Convenio</h3>
                <a href="/admin/RegistrarConvenio" class="btn btn-default"
                data-toggle="tooltip" data-placement="right" title="Agregar Convenio">
                   <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
            <div class="box-body">
              <table id="tablaExperiencia" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Descripcion</th>
                  <th>Editar</th>
                  <th>Accion</th>
                </tr>
                </thead>
                <tbody>
                  <%for(var i=0;i<data.length;i++){%>
                  <tr>
                    <td><%=data[i].nombre%></td>
                    <td><%=data[i].descripcion%></td>
                    <td>
                    <button data-id="<%=data[i].id_convenio%>"  data-accion="editar"
                    class="btn btn-info editar" onclick="desplegarModal(this)"
                    data-toggle="tooltip" data-placement="top" title="Editar Movilidad">
                       <span class="glyphicon glyphicon-wrench"></span>
                       </button>
                    </td>
                    <td>
                    <a href="/Admin/eliminarConvenio?id=<%=data[i].id_convenio%>"
                     id="eliminar_tipo_movilidad"   class="btn btn-danger"
                    data-toggle="tooltip"   data-placement="top" title="Eliminar Movilidad">
                       <span class="glyphicon glyphicon-trash"></span>
                       </a>
                    </td>
                  </tr>
                  <%}%>
                </tbody>


              </table>

            </div>
          </div>
    </div>
     </div>
    </section>
  </div>

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">EDITAR CONVENIO</h4>
        </div>

        <div class="modal-body">
          <form  id="formulario_piso_tipoMovilidad" onsubmit="return false;">
             <div class="form-group">
               <label for="nombre">nombre</label>
                <input type="text" name="nombre" id="nombre" placeholder="nombre" class="form-control">
             </div>
             <div class="form-group">
               <label for="descripcion">descripcion</label>
               <textarea name="descripcion" id="descripcion" placeholder="Descripcion" class="form-control"></textarea>
             </div>
             <div class="col-lg-12">
              <h1 class="box-title">Requisito <label  id='agregarRequisito'
              class="btn btn-default" data-toggle="tooltip" data-placement="right"
              title="Agregar Requisito"><span class="glyphicon glyphicon-plus"></span>
                </label></h1>
            </div>
             <div class="form-group" id='contenedorRequisitos'>
             </div>
             <div class="modal-footer">
                 <button id="actualizarTipoMovilidad" class="btn btn-primary center">GUARDAR CAMBIOS</button>
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
             </div>
        </div>
        </form>
        </div>

      </div>

    </div>
    <script src="/js/listarConvenio.js"></script>
 <% include partes/__footer %>
