

  <% include partes/__cabecera %>
  <% include partes/__navegacion %>
  <div class="content-wrapper">
    <section class="content container-fluid">
      <div class="container">
      	<div class="row">
      		<div class="col-lg-7">
      		</div>
      		<div class="col-lg-4">
      			<form action="/admin/agregar" method="post">
      				<div class="form-group">
      					<input type="text" name="nombre" placeholder="nombre" class="form-control">
      				</div>
      				<div class="form-group">
      					<input type="text" name="telefono" placeholder="telefono" class="form-control">
      				</div>
      				<div class="form-group">
      					<input type="text" name="direccion" placeholder="direccion" class="form-control">
      				</div>
      				<button class="btn btn-primary">Registrar</button>
      			</form>
      		</div>
      	</div>
      </div>
      
    </section>
  </div>
 <% include partes/__footer %>
