
  <% include partes/__cabecera %>
  <% include partes/__navegacion %>
  <div class="content-wrapper">
    <section class="content container-fluid">
       <div class="row">
        <div class="col-xs-12">
          <div class="box box-danger">
            <div class="box-header">
              <h3 class="box-title">Lista de Experiencias</h3>
                <a href="/docente/registrarEstudiante" class="btn btn-default"
                data-toggle="tooltip" data-placement="right" title="Agregar Experiencia">
                   <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
            <div class="box-body">
              <table id="tablaExperiencia" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Pais</th>
                  <th>Universidad</th>
                  <th>Convenio</th>
                  <th>Tipo de Movilidad</th>
                </tr>
                </thead>
                <tbody>
                 

                </tbody>
              </table>
            </div>
          </div>
    </div>
     </div>
    </section>
  </div>
 <% include partes/__footer %>
