

  <% include partes/__cabecera %>
  <% include partes/__navegacion %>
  <div class="content-wrapper">
    <section class="content container-fluid">

      <!--
        codigo
      -->
      
    </section>
  </div>
 <% include partes/__footer %>
