

  <% include partes/__cabecera %>
  <% include partes/__navegacion %>
  <div class="content-wrapper">
    <section class="content container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <div class="box box-danger">
            <div class="box-header">
              <h3 class="box-title">Lista de Universidades</h3>
              <a href="/admin/registrarUniverisdad" class="btn btn-default"
              data-toggle="tooltip" data-placement="right" title="Agregar Universidad">
              <span class="glyphicon glyphicon-plus"></span>
            </a>
          </div>
          <div class="box-body">
            <table id="tablaUniversidad" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Pais</th>
                  <th>Universidad</th>
                  <th>Editar</th>
                  <th>Eliminar</th>
                </tr>
              </thead>
              <tbody>
                <%for(var i=0;data!=null&&i<data.length;i++){%>
                  <tr>
                  <td><%=data[i].pais%></td>
                  <td><%=data[i].universidad%></td>
                  <td>
                  <button data-id="<%=data[i].id_universidad%>"  data-accion="editar"
                  class="btn btn-info editar" onclick="desplegarModal(this)"
                  data-toggle="tooltip" data-placement="top" title="Editar Universidad">
                     <span class="glyphicon glyphicon-wrench"></span>
                     </button>
                  </td>
                  <td>
                  <td>
                  <a href="/Admin/eliminarUniversidad?id=<%=data[i].id_universidad%>"
                  type="button" class="btn btn-danger"
                  data-toggle="tooltip" data-placement="top" title="Eliminar Universidad">
                  <span class="glyphicon glyphicon-trash"></span>
                  </a>
                  </td>
                  </tr>
                  <%}%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>



    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">

        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Editar Universidad</h4>
          </div>

          <div class="modal-body">
            <form  id="formulario_editar_universidad" onsubmit="return false;">
              <div class="box-body">
                <div class="form-group">
                  <label for="nombre" class="col-sm-2 control-label">Pais </label>
                  <div class="col-sm-10">
                    <!--<input type="text" name="codigo" class="form-control" id="pais_modal" placeholder="Pais" required="">-->
                    <select name="pais" class="form-control" id="seleccionar_pais" placeholder="Pais">
                    </select>
                  </div>
                </div>
                  <div class="form-group">
                    <label for="nombre" class="col-sm-2 control-label">Universidad </label>
                    <div class="col-sm-10">
                      <input type="text" name="nombre" class="form-control" id="nombre_modal" placeholder="Nombre Pais" required="">
                    </div>
                  </div>
                </div>
               <div class="modal-footer">
                   <button id="actualizarPais" class="btn btn-primary center">Guardar</button>
                 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
               </div>
          </div>
          </form>
          </div>

        </div>

      </div>


  <script src="/js/universidad.js"></script>
 <% include partes/__footer %>
